body {
        font-family: 'Open Sans', sans-serif;
        color: #303f4a;
    }

    .fa {
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .rating {
        color: #ffdc64;
    }

    .price {
        color: darkred;
        font-weight: bold;
    }

    .specifications-details-inner {
        background-color: rgb(215, 243, 245);
    }

    .border {
        border-style: solid;
        border-color: rgb(215, 243, 245);
        border-radius: 20px;
    }

    .card-title {
        height: 33px;
        background-color: lightblue;
        color: #303f4a;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        padding: 7px 22px;
        text-transform: uppercase;
        margin: 20px 0 25px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .table {
        table-layout: fixed;
        border-collapse: collapse;
        color: #212529;
        width: 100%;
    }

    .mb-1,
    .my-1 {
        margin-bottom: .25rem !important;
    }

    .phone-title {
        color: #02243e;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        margin-bottom: 5px;
        padding: 0 22px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .phone-title-spec {
        color: #0984e3;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        padding: 0 22px;
    }

    .table td:first-child,
    .table th:first-child {
        width: 20%;
        color: rgba(48, 63, 74, .5);
        font-weight: 600;
    }

    .table td,
    .table th {
        width: 50%;
        color: #303f4a;
        font-size: 14px;
        line-height: 19px;
        border: none;
        padding: 5px 22px;
        vertical-align: top;
    }

    .span {
        color: #02243e;
        font-weight: bold;
    }

    .list-inline-item span:last-child {
        font-size: 14px;
    }

    .spec-ic {

        width: fit-content;
    }

    .spec-dt {
        width: fit-content;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .ml-0,
    .mx-0 {
        margin-left: 0 !important;
    }

    .mr-0,
    .mx-0 {
        margin-right: 0 !important;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    .spec-wr {
        -webkit-box-align: center;
        align-items: center;
    }

    .p-0 {
        padding: 0 !important;
    }

    .spec-dt {
        color: rgba(48, 63, 74, .5);
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
    }