{% extends "Trendz/main.html" %} {% load static %} {% block style %}
<style>
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    color: #303f4a;
  }
  .title-more {
    display: flex;
  }
  .product-item {
    display: flex;
    width: 180px;
    height: 300px;
    list-style: none;
    flex-direction: column;
    text-decoration: none;
    background-color: transparent;
    margin-right: 25px;
  }
  .image {
    display: flex;
    justify-content: center;
  }
  .status {
    font-size: 11px;
    color: #a80500;
    text-align: center;
    margin-top: 0px;
    font-weight: 600;
  }
  .brand-name {
    font-weight: 600;
    font-size: 14px;
    color: #303f4a;
    text-align: center;
    overflow: hidden;
    line-height: 1.5em;
    height: 3em;
  }
  .price {
    text-align: center;
    font-size: 16px;
    color: #303f4a;
  }
  .price span {
    color: #0984e3;
    font-weight: 700;
  }
  .page-title {
    color: #0984e3;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 23px;
  }
</style>
{% endblock style %} {% block title %} Trendzone {% endblock %} {% block body %}

<div class="container my-5">
  {% if page_obj %}
  <h3 class="page-title"><span style="text-transform: uppercase">{{Brand.brand}}</span></h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    {% for obj in page_obj %}
    <a class="product-item" href="{% url 'phonedetail' obj.tag %}">
      <div class="image"><img height="199px" width="149px" src="{{obj.image}}" alt="Nothing Show" /></div>
      {% if obj.status == "None" %} {%else%}
      <div class="status">{{obj.status}}</div>
      {% endif %}
      <div class="brand-name">{{obj.title}}</div>
      <div class="price"><span>{{ obj.price }}</span>RS</div>
    </a>

    {% endfor %}
  </div>
  {% endif %}
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    {% for obj in page_obj1 %}
    <a class="product-item" href="{% url 'laptopdetail' obj.tag1 %}">
      <div class="image"><img height="199px" width="149px" src="{{obj.image}}" alt="Nothing Show" /></div>
      <div class="price"><span>{{ obj.price }}</span></div>
      <div class="brand-name">{{obj.title}}</div>
    </a>

    {% endfor %}
  </div>
</div>

{% if page_obj %}

<nav style="margin-top: 25px">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1">First</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% else %}
<nav>
  <ul class="pagination justify-content-center">
    {% if page_obj1.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1">First</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj1.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Page {{ page_obj1.number }} of {{ page_obj1.paginator.num_pages }}</a>
    </li>
    {% if page_obj1.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj1.next_page_number }}">Next</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj1.paginator.num_pages }}">Last</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endif %} {% endblock %}
