{% extends "Trendz/main.html" %} {% load static %} {% block style %}
<style>
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    color: #303f4a;
  }
  .title-more {
    display: flex;
    justify-content: space-between;
  }
  .product-item {
    border: 1px solid rgba(80, 104, 122, 0.11);
    border-radius: 6px;
    display: flex;
    width: 180px;
    height: 300px;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    text-decoration: none;
    background-color: transparent;
    margin-right: 25px;
  }
  .image {
    display: flex;
    justify-content: center;
  }
  .status {
    font-size: 11px;
    color: #a80500;
    text-align: center;
    margin-top: 0px;
    font-weight: 600;
  }
  .rating {
    font-size: 17px;
    color: #ffdc64;
    text-align: center;
    margin-bottom: 2px;
  }
  .brand-name {
    font-weight: 600;
    font-size: 14px;
    color: #303f4a;
    text-align: center;
  }
</style>
{% endblock style %} {% block title %} Trendzone {% endblock %} {% block body %}
<div class="container">
  <div class="title-more">
    <h3>Latest Phones</h3>
    <a href="{% url 'devicelist' 'latest-phone' %}"
      >More<i class="fa fa-chevron-right"></i
    ></a>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    {% for mobile in latest_mobile %}
    <a class="product-item" href="{% url 'phonedetail' mobile.tag %}">
      <div class="image">
        <img
          height="199px"
          width="149px"
          src="{{mobile.image}}"
          alt="Nothing Show"
        />
      </div>
      <div class="status">{{mobile.status}}</div>
      <div class="rating">
        <i class="fa fa-star"></i><i class="fa fa-star"></i
        ><i class="fa fa-star"></i><i class="fa fa-star"></i
        ><i class="fa fa-star-o"></i>
      </div>
      <div class="brand-name">{{mobile.title}}</div>
    </a>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row" style="background-color: #dbe9ff">
    <div class="col-12">
      <h3 class="h1-responsive font-weight-bold text-center my-4">Mobile</h3>
    </div>
    <div class="col-md-6">
      <h3 class="h1-responsive font-weight-bold text-center my-4">
        Top 10 by Daily Interest
      </h3>
      <table class="table table-success table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Mobile</th>
            <th scope="col">Daily hits</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Xiaomi Mi 11 ultra</td>
            <td>41024</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Xiaomi Redmi Note 10 Pro</td>
            <td>35947</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h3 class="h1-responsive font-weight-bold text-center my-4">
        Top 10 by Daily Interest
      </h3>
      <img
        src="{% static '/images/Mobile-Trend.png' %}"
        class="img-fluid"
        alt="..."
        style="height: 450px"
      />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3 class="h1-responsive font-weight-bold text-center my-4">Mobile</h3>
    <div class="col-md-6">
      <h3 class="h1-responsive font-weight-bold text-center my-4">
        Top 10 by Daily Interest
      </h3>
      <table class="table table-success table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Mobile</th>
            <th scope="col">Daily hits</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Xiaomi Mi 11 ultra</td>
            <td>41024</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Xiaomi Redmi Note 10 Pro</td>
            <td>35947</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Samsung Galaxy Quantum 2</td>
            <td>28930</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h3 class="h1-responsive font-weight-bold text-center my-4">
        Top 10 by Daily Interest
      </h3>
      <img
        src="{% static '/images/Mobile-Trend.png' %}"
        class="img-fluid"
        alt="..."
        style="height: 450px"
      />
    </div>
  </div>
</div>

{% endblock %}
