{% extends "Trendz/main.html" %} {% load static %}{% block style %}
<style>
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    color: #303f4a;
  }
  .title-more {
    display: flex;
  }
  .product-item {
    display: flex;
    width: 180px;
    list-style: none;
    flex-direction: column;
    text-decoration: none;
    background-color: transparent;
  }
  .image {
    display: flex;
    justify-content: center;
  }
  .status {
    font-size: 11px;
    color: #a80500;
    text-align: center;
    margin-top: 0px;
    font-weight: 600;
  }
  .brand-name {
    font-weight: 600;
    font-size: 14px;
    color: #303f4a;
    text-align: center;
    overflow: hidden;
    line-height: 1.5em;
    height: 3em;
  }
  .price {
    text-align: center;
    font-size: 16px;
    color: #303f4a;
  }
  .price span {
    color: #0984e3;
    font-weight: 700;
  }
  .items-wrap {
    padding-bottom: 20px;
    scrollbar-width: thin;
  }
  .overflow-auto {
    overflow: auto !important;
  }
  .flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .items-wrap::-webkit-scrollbar {
    height: 5px;
    background-color: red;
    cursor: ew-resize;
  }
  .items-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(127, 147, 174, 0.17);
  }
  .items-wrap::-webkit-scrollbar-track {
    background-color: #fff;
  }
</style>
{% endblock style %}{% block title %}Device Trends- Pakistan's latest Device trends{% endblock %} {% block body %}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img height="400px" width="100%" src="{% static '/images/Poster1.jpg' %}" alt="" />
    </div>
    <div class="carousel-item">
      <img height="400px" width="100%" src="{% static '/images/Poster2.jpg' %}" alt="" />
    </div>
    <div class="carousel-item">
      <img height="400px" width="100%" src="{% static '/images/Poster3.jpg' %}" alt="" />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container my-4">
  <a style="text-decoration: none" href="{% url 'devicelist' 'latest-phone' %}"><h3>Latest Mobile</h3></a>
  <div class="row flex-nowrap overflow-auto mb-4 mb-md-0 items-wrap ml-0">
    {% for mobile in latestMobile %}
    <div class="col-6 col-sm-4 col-md-2 my-3 px-0 single-item">
      <a class="product-item px-0 mx-0 my-0" href="{% url 'phonedetail' mobile.tag %}">
        <div class="image"><img height="199px" width="149px" src="{{mobile.image}}" alt="Nothing Show" /></div>
        <div class="price"><span>{{ mobile.price }}</span>RS</div>
        <div class="brand-name">{{mobile.title}}</div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="row mb-3">
    <div class="col-md-4">
      <canvas id="pie-chart"></canvas>
    </div>
    <div class="col-md-8">
      <a style="text-decoration: none" href="{% url 'devicelist' 'popular-phone' %}"><h3>Popular Mobile</h3></a>
      <div class="row flex-nowrap overflow-auto mb-4 mb-md-0 items-wrap ml-0">
        {% for mobile in popularMobile %}
        <div class="col-6 col-sm-4 col-md-3 my-3 px-0 single-item">
          <a class="product-item px-0 mx-0 my-0" href="{% url 'phonedetail' mobile.tag %}">
            <div class="image"><img height="199px" width="149px" src="{{mobile.image}}" alt="Nothing Show" /></div>
            <div class="price"><span>{{ mobile.price }}</span>RS</div>
            <div class="brand-name">{{mobile.title}}</div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-4">
      <canvas id="dailyGraph"></canvas>
    </div>
    <div class="col-md-8">
      <h3>Popular Macbook</h3>
      <div class="row flex-nowrap overflow-auto mb-4 mb-md-0 items-wrap ml-0">
        {% for Mac in popularMac %}
        <div class="col-8 col-sm-6 col-md-4 my-3 px-0 single-item">
          <a class="product-item" style="width: 210px" href="{% url 'laptopdetail' Mac.tag1 %}">
            <div class="image"><img height="199px" width="190px" src="{{Mac.image}}" alt="Nothing Show" /></div>
            <div class="price"><span>{{ Mac.price }}</span></div>
            <div class="brand-name">{{Mac.title}}</div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <h3>Popular Laptop</h3>
    <div class="row flex-nowrap overflow-auto mb-4 mb-md-0 items-wrap ml-0">
      {% for Laptop in popularLaptop %}
      <div class="col-8 col-sm-4 col-md-3 my-3 px-0 single-item">
        <a class="product-item" style="width: 210px" href="{% url 'laptopdetail' Laptop.tag1 %}">
          <div class="image"><img height="199px" width="190px" src="{{Laptop.image}}" alt="Nothing Show" /></div>
          <div class="price"><span>{{ Laptop.price }}</span></div>
          <div class="brand-name">{{Laptop.title}}</div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  var configDaily = {
    type: "bar",
    data: {
      datasets: [
        {
          data: [
            "{{dailyLap1.positive}}",
            "{{dailyLap2.positive}}",
            "{{dailyLap3.positive}}",
            "{{dailyLap4.positive}}",
            "{{dailyLap5.positive}}",
            "{{dailyLap6.positive}}",
            "{{dailyLap7.positive}}",
            "{{dailyLap8.positive}}",
          ],
          backgroundColor: [
            "rgba(255, 99, 132, 0.2)",
            "rgba(255, 159, 64, 0.2)",
            "rgba(255, 205, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(201, 203, 207, 0.2)",
          ],
          borderColor: ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],
          borderWidth: 1,
          label: "Daily Laptop Trends",
        },
      ],
      labels: ["Dell", "Lenovo", "Macbook", "hp", "Microsoft", "Acer", "Asus", "MSI"],
    },
    options: {
      responsive: true,
    },
  };

  // window.onload = function () {
  //     var daily = document.getElementById("dailyGraph").getContext("2d");
  //     window.myPie = new Chart(daily, configDaily);

  // };

  var config = {
    type: "bar",
    data: {
      datasets: [
        {
          data: [
            "{{daily1.positive}}",
            "{{daily2.positive}}",
            "{{daily3.positive}}",
            "{{daily4.positive}}",
            "{{daily5.positive}}",
            "{{daily6.positive}}",
            "{{daily7.positive}}",
            "{{daily8.positive}}",
          ],
          backgroundColor: [
            "rgba(255, 99, 132, 0.2)",
            "rgba(255, 159, 64, 0.2)",
            "rgba(255, 205, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(201, 203, 207, 0.2)",
          ],
          borderColor: ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],
          borderWidth: 1,
          label: "Daily Mobile Trends",
        },
      ],
      labels: ["Oppo", "Vivo", "Xiaomi", "Apple", "Huaewai", "Google Pixel", "OnePlus", "Samsung"],
    },
    options: {
      responsive: true,
    },
  };

  window.onload = function () {
    var ctx = document.getElementById("pie-chart").getContext("2d");
    window.myPie = new Chart(ctx, config);
    var daily = document.getElementById("dailyGraph").getContext("2d");
    window.dailyLaptop = new Chart(daily, configDaily);
  };
</script>
{% endblock script %}
